/*----------------------------------------------------------------------------------------------
[Table of contents]
/** CSS Reference
    0. Base Style
        0.button Buttons
        0.color Color bg-XX text-XX
	1. Link and logo at top / .header-top
	2. Dot navigation at right / #fp-nav, #fp-nav.right
	3. Quick links at right / .quick-link
		3.1 quick link position / .quick-link .count-X (where X=1,2,3,4,5)
		3.2 Links
	4. Page footer / .page-footer
	5. Page cover / .page-cover
		5.1. page cover background image,color (overriden by data-bgcolor or data-image-src atributes) / .page-cover .cover-bg
		5.2 Page cover  background mask (overriden by data-bgcolor or data-image-src atributes) / .page-cover .cover-bg-mask
	6. Main page / .page-main
		6.0 Page footer with scroll down button / .p-footer
		6.1 Page general params / .page-cent, .page
		6.3 Page and slide animation / .page.transition , .slide.transition
		6.4 Clock countdown / .page-when, .pane-when .clock
		6.5 Registration form / .page-register
		6.6 About us / .page-about
		6.7 Contact, Message / .page-contact
	7. Video background / .video-container

	Hooks for responsiveness (mobile friendly) can be found in "main_responsive.css" file
----------------------------------------------------------------------------------------------*/

/* 0. base style*/
@font-face {
   font-family: proxima;
   src: url(../fonts/proxima/proxima-nova-soft-bold.otf) format("opentype");;
}
@font-face {
   font-family: proxima-regular;
   src: url(../fonts/proxima/ProximaNova-Regular.otf) format("opentype");;
}
 /* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(https://fonts.gstatic.com/s/materialicons/v14/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.eot) format('eot');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

    body {
        margin: 0;
        padding: 0;
        height: 1500px;
        font-size: large;
        font-family: 'Josefin Slab', sans-serif;
    }

    nav ul a,
    nav .brand-logo {
      color: #ffffff;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li {
        display: inline;
    }
    p {
      line-height: 2rem;
    }

/* 1. header and logo */

    .col-xs-15,
    .col-sm-15,
    .col-md-15,
    .col-lg-15 {
        position: relative;
        min-height: 1px;
        padding-right: 10px;
        padding-left: 10px;
    }

    #qlue-header {
        height: 60px;
        margin-top: 20px;
    }

    .logo-city {
        cursor: pointer;
        height: 120px;
        margin-top: 40px;
    }
    .header {
        background-color: transparent;
        top: 0px;
    }
    .connect {
        height: 80px;
        padding: 10px;
    }
    .button-collapse {
      color: #ffffff;
    }

    .parallax-container {
      min-height: 380px;
      line-height: 0;
      height: auto;
      color: rgba(255,255,255,.9);
    }
    .parallax-container .section {
        width: 100%;
    }



.logo-city:hover{
    animation-iteration-count:infinite;
    animation-name:pulse;
    animation-duration:1s;
    animation-fill-mode: both;

}
/* PAGE */

    .with-scroller{
        overflow-x:hidden !important;
        overflow-y:auto !important;
    }

    .hoz-scroller{
        overflow-y:hidden !important;
        overflow-x:auto !important;
    }

    .with-scroller::-webkit-scrollbar, .hoz-scroller::-webkit-scrollbar {
        width:5px;
        background:#FFF;
    }

    .with-scroller::-webkit-scrollbar-track, .hoz-scroller::-webkit-scrollbar-track {
        -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
        background:#FFF;
    }

    .with-scroller::-webkit-scrollbar-thumb, .hoz-scroller::-webkit-scrollbar-thumb {
        -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.5);
        background:rgba(61, 64, 66, 0.28);
    }

    #whatis {
        background-image: url(../img/bg_beranda.jpg);
        /*background-color: #00838F;*/
        background-size: cover;
        color: #ffffff;
    }

    #feature {
        background-image: url(../img/img_6.jpg);
        /*background-color: #0277BD ;*/
        background-size: cover;
        color: #ffffff;
    }

    #our-citie {
      background-size: cover;

      /*background-color: #37474F ;
      color: #ffffff;*/

      background-color: #BFBFBF ;
      color: #000000;
    }

    #our-city {
        background-image: url(../img/bg_beranda.jpg);
        /*background-color: #558B2F ;*/
        background-size: cover;
        color: #ffffff;
    }

    #partner {
        background-image: url(../img/img_6.jpg);
        background-color: #37474F ;
        background-size: cover;
        color: #ffffff;
    }

    #feature img {
        height: 200px;
    }

    #feature #top {
        margin-top: 3%;
    }

    #content-feature {
        margin-top: 8%;
        margin-bottom: 0px;
      }

      .heading .feature-img {
        position: relative;
      }
      .heading .feature-img img {
        width: 100%;
      }


    #join-us {
        background-image: url(../img/img_6.jpg);
        background-size: cover;
        color: rgba(88, 87, 87, 0.59);
        font-family: proxima;
    }

    #join-us .card {
        width: 204.5%;
        margin: 0;
    }

    #join-us h3 {
        text-transform: none;
        text-align: center;
    }

    #join-us .link-send{
        display: none;
    }

    #test1 .row {
        padding-right: 30px;
        padding-left: 30px;
        padding-bottom: 2.3%;
    }

    #test2 .row {
        padding-right: 30px;
        padding-left: 30px;
        padding-bottom: 2.3%;
    }

    #join-us .tab {
        text-transform: none;
    }

    #join-us #test-1 {
        border-radius: 5px;
        margin-top: -1%;
    }

    #join-us #test-2 {
        border-radius: 5px;
        margin-top: -1%;
    }

/* Section styles */
    .section {
        text-align: center;
    }

    .section h1,
    .section p {
        /*color: #ffffff;*/

        margin: 0;
    }

    /* Navigation arrow styles */
    #fp-nav span.prev,
    #fp-nav span.next {
        -webkit-transition: opacity 1s;
        -moz-transition: opacity 1s;
        -o-transition: opacity 1s;
        transition: opacity 1s;
        vertical-align: center;
        display: table-cell;
        text-align: center;
        position: relative;
        cursor: pointer;
        padding: 5px 0;
        height: 20px;
        width: 10px;
    }

    #fp-nav span.inactive {
        cursor: default;
        opacity: 0.25;
    }

/* Form style */
    .input-field {
        text-align: left;
    }

    form {
        margin-top: 20px;
    }

/* Footer */

@media only screen and (max-width : 992px) {
      .parallax-container .section {
        position: absolute;
        top: 40%;
      }
      #index-banner .section {
        top: 10%;
      }


}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }

    .fix-footer {
        display: none;
    }

    p {
        font-size: 11px;
        text-align: justify!important;
        line-height: 1.75rem;
    }

    h3 {
        font-size: 20px;
    }

    textarea {
        font-size: 10px!important;
    }
    #partner h3 {
        font-size: 18px;
    }

    .logo-city {
        height: 65px;
        margin-top: 0px;
    }

    #qlue-header {
        height: 25px;
        margin-top: 30%;
    }

    #feature img {
        height: 135px;
    }

    #join-us .card {
    width: 350px!important;
    }

    #join-us h5 {
        margin-top: 10px!important;
    }

    #join-us h3 {
        margin-top: 10%!important;
        font-size: 16px;
    }

    #join-us p {
        margin-bottom: 2%;
        font-size: 10px!important;
        margin-left: 1%!important;
    }

    #join-us form {
        margin-top: 15px!important;
    }

    #join-us .card-content {
        padding-bottom: 5%;
        padding-right: 5%;
        padding-left: 5%;
    }

    #test1 .row {
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 0px;
        margin-top: -25px;
    }

    #test1 #firstname-1{
        margin-top: 20%;
    }

    #test1 .btn {
        margin-left: 0!important;
        /*margin-bottom: 3%!important;
        margin-top: 3%!important;*/
        margin-bottom: 2%;
        font-size: 10px!important;
        height: 20px;
        line-height: 20px;
        border: none;
        border-radius: 0px;
        display: inline-block;
        outline: 0;
        padding: 0 1rem;
        text-transform: uppercase;
    }

    #test2 .btn {
        margin-left: 0!important;
        /*margin-bottom: 3%!important;
        margin-top: 3%!important;*/
        margin-bottom: 2%;
        font-size: 10px!important;
        height: 20px;
        line-height: 20px;
        border: none;
        border-radius: 0px;
        display: inline-block;
        outline: 0;
        padding: 0 1rem;
        text-transform: uppercase;
    }

    #test1 {
        border-radius: 0px!important;
    }

    #test2 {
        border-radius: 0px!important;
    }

    #test2 #firstname-2 {
        margin-top: 20%;
    }

    #test2 .row {
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 0px;
        margin-top: -25px;
    }

    #our-city .row {
        padding-bottom: 0;
        padding-top: 0;
    }
    #feature .row {
        padding-bottom: 0;
        padding-top: 0;
    }

    #fp-nav {
        display: none;
    }

    #feature #top {
        margin-top: 0px;
    }

    label {
        font-size: 11px!important;
    }

    .connect {
        height: 50px;
        padding: 10px;
    }

    textarea {
        resize: none;
    }

    .tabs .tab a {
        color: #2095F2;
        line-height: 30px!important;
        display: table-row;
        width: 100%;
        height: 100%;
        text-overflow: ellipsis;
        overflow: initial;
        transition: color .28s ease;
    }
    .tabs {
        white-space: normal;
        border-radius: 0px!important;
        border-bottom: #2095F2 2px solid;

    }
    .tabs .tab {
        line-height: 15px;
        margin-top: 0px!important;
    }

    .mobile-tab {
        word-wrap: break-word;
        height: auto;
        line-height: 2;
    }

    #toast-container {
        min-width: 50%;
        bottom: 0%;
    }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

#toast-container {
  top: auto;
  right: auto;
  bottom: 10%;
  left:7%;
}
